.header
  .header__top
    グループを作成しました
  .flex
    .header__left
      test-user
      .header__left__icons
        = link_to '#' do
          = fa_icon 'edit'
        = link_to '#' do
          = fa_icon 'cog'
    .header__right
      test-group
      Members

      edit

      test-user

.flex
  .contents-left
    .contents-left__group-name
      test-group
    .contents-left__top-talk
      さようなら

    .contents-left__group-name
      sample-group
    .contents-left__top-talk
      hello!

    .contents-left__group-name
      example
    .contents-left__top-talk
      まだメッセージがありません

  .contents-right
    test-user
    こんにちは！

    test-user
    さようなら
    .contents-right__bottom
      send
