.header
  .header__top
    グループを作成しました
  .flex
    .header__left
      test-user
    .header__right
      test-group
      Members

      edit

      test-user

.flex
  .contents-left
    test-group
    さようなら

    sample-group
    hello!

    example
    まだメッセージがありません

  .contents-right
    test-user
    こんにちは！

    test-user
    さようなら
    .ontents-right__bottom
      send
