.contents-left
  = render partial: "messages/group", locals: { groupName: "test-group", topTalk: "さようなら" } 
  = render partial: "messages/group", locals: { groupName: "sample-group", topTalk: "hello!" } 
  = render partial: "messages/group", locals: { groupName: "example", topTalk: "まだメッセージがありません" } 
  = render partial: "messages/group", locals: { groupName: "部分テンプレートgroup", topTalk: "部分テンプレートmessage" } 
