.contents-left
  .contents-left__groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group-name
          = group.name
        .top-talk
          = group.show_last_message
