@import 'config/variable';

.header {
  &__top {
    text-align: center;
    color: white;
    background-color: $skyblueColor;
  }
  &__left {
    width: 300px;
    background-color: #253141;
    color: $whiteTextColor;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 20px 0;
    box-sizing: border-box;
    &__icons {
      margin: 0 0 0 auto;
    }
  }
  &__right {
    width: calc(100% - 300px);
    position: relative;
    border-bottom: solid 1px #eeeeee;
    &__info {
      &__group-name {
        font-size: 20px;
        font-weight: bold;
        color: #333333;
        margin-top: 35px;
      }
      &__group-members {
        font-size: 12px;
        color: $subInfo;
        margin-top: 15px;
      }
    }
    &__btn-edit {
      text-align : right;
      height: 40px;
      line-height: 40px;
      color: $skyblueColor;
      position: absolute;
      right: 0px;
      top: 28px;
      padding: 0 20px 0;
      border: solid 1px $skyblueColor;
    }
  }
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.contents-left {
  width: 300px;
  height: 100vw;
  background-color: #2f3e51;
  color: $whiteTextColor;
  padding: 20px 20px 0;
  box-sizing: border-box;
  &__group-name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__top-talk {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 40px;
  }
}

.contents-right {
  width: calc(100% - 300px);
  background-color: #fafafa;
  padding-top: 46px;
  position: relative;
  &__bottom {
    position: fixed;
    bottom: 0px;
  }
  &__upper-info {
    &__user {
      color: $mainInfo;
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      margin: 0 10px 10px 0;
    }
    &__date {
      color: $subInfo;
      font-size: 12px;
      display: inline-block;
    }
  }
  &__talk {
    color: $mainInfo;
    font-size: 14px;
    margin-bottom: 40px;
  }
}
